Package: me.kritanta.homeplus
Name: HomePlus Beta
Depends: mobilesubstrate
Version: 0.1.3
Architecture: iphoneos-arm
Description: Dynamic, live homescreen layout with an intuitive UI
Maintainer: Kritanta
Author: Kritanta
Section: Tweaks
Icon: http://repo.kritanta.me/icon/HomePlus.png