Package: me.kritanta.homeplus
Name: HomePlus
Depends: mobilesubstrate
Version: 0.0.7
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Kritanta
Author: Kritanta
Section: Tweaks
